{% extends "/Crud/form.html.twig" %}

{% block content %}
    <div class="container-fluid update-{{ metadata.name|lower }}">
        {% include '/PaymentMethod/Form/_header.html.twig' %}

        <div class="form-content">
            {% include '/PaymentMethod/Update/_content.html.twig' %}
        </div>
    </div>
{% endblock %}