<div class="col-md-12 font-size-13">
    <div class="row">
        <div class="col-md-4 text-center">
            <a href="http://almacenes.olimpoapp.local">
                <div class="font-size-48 color-primary">
                    <i class="fa fa-building"></i>
                </div>
                <div>
                    Almacenes
                </div>
            </a>
        </div>
        <div class="col-md-4 text-center">
            <a href="http://clientes.olimpoapp.local">
                <div class="font-size-48 color-primary">
                    <i class="fa fa-users"></i>
                </div>
                <div>
                    Clientes
                </div>
            </a>
        </div>
        <div class="col-md-4 text-center">
            <a href="http://dispositivos.olimpoapp.local">
                <div class="font-size-48 color-primary">
                    <i class="fa fa-laptop"></i>
                </div>
                <div>
                    Dispositivos
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <a href="http://grh.olimpoapp.local">
                <div class="font-size-48 color-primary">
                    <i class="fa fa-suitcase"></i>
                </div>
                <div>
                    RRHH
                </div>
            </a>
        </div>
        <div class="col-md-4 text-center">
            <a href="http://productos.olimpoapp.local">
                <div class="font-size-48 color-primary">
                    <i class="fa fa-cubes"></i>
                </div>
                <div>
                    Productos
                </div>
            </a>
        </div>
        <div class="col-md-4 text-center">
            <a href="http://documentos.olimpoapp.local">
                <div class="font-size-48 color-primary">
                    <i class="fa fa-file"></i>
                </div>
                <div>
                    Documentos
                </div>
            </a>
        </div>
        <div class="col-md-4 text-center">
            <a href="http://config.olimpoapp.local">
                <div class="font-size-48 color-primary">
                    <i class="fa fa-wrench"></i>
                </div>
                <div>
                    Configuración
                </div>
            </a>
        </div>
    </div><br>
    <div class="col-md-12 line-height-35 text-center">
        <a href="/logout" class="color-danger text-center"><i class="fa fa-sign-out"></i> Cerrar sesión</a>
    </div>
</div>