<div class="row page-title-div">
    <div class="col-md-12">
        <h4 class="title">Crear método de pago - {{ resource.name|default('Nuevo') }}</h4>
    </div>
    <!-- /.col-md-12 -->
</div>
<!-- /.row -->
<div class="row breadcrumb-div">
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
            <li>método de pago</li>
            <li class="active">Formulario</li>
            <li class="active">{{ resource.name|default('Nuevo') }}</li>
        </ul>
    </div>
    <!-- /.col-md-12 -->
</div>
<!-- /.row -->

<div class="container-fluid section">
    <div class="row">
        <div class="col-md-12">
            Formulario método de pago - {{ resource.name|default('Nuevo') }}
        </div>
    </div>
</div>
